.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    // padding: 0 calc((100% - 1400px)/2);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
        display: inline-block;

        .fa,
        .glyphicon {
            animation-name: spinner;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            font-size: 6em;
            position: relative;

            &:first-of-type {
                left: 10px;
                bottom: 5px;
                color: #2980b9;
            }

            &:last-of-type {
                font-size: 3em;
                top: 10px;
                right: 5px;
                color: #e74c3c;
                animation-direction: reverse;
            }
        }

        .glyphicon {
            &:last-of-type {
                right: 8px;
            }
        }
    }
}
.card {
    border-radius: 5px;
    padding: 16px 24px;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-card-shadow);
    display: flex;
    flex-direction: column;
    text-align: left;
    .card__image-wrapper {
        height: 200px;
        aspect-ratio: 1 / 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .card__title {
        color: var(--secondary-dark-font-color);
        font-family: var(--dmsans);
        font-size: 24px;
        font-weight: 400;
    }
    .card__price {
        color: #000;
        font-family: var(--dmsans);
        font-weight: 700;
        margin-bottom: 10px;
    }
    .card__text {
        font-size: 16px;
        margin: 10px 0;
        word-break: break-all;
    }
}

.card__top-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;

    .icon__heart:hover {
        cursor: pointer;
    }
    .icon__heart--fill {
        color: var(--danger-color);
    }
    svg {
        font-size: 24px;
        color: var(--primary-font-color);
    }
}
.button_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  strong{
    max-width: 50px;
    width: 100%;
    text-align: center;
  }
}
.button{
    font-size: 16px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #222;
    transition: .4s;
    background-color: #222;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #222;
    }
}